.idea
output
ue_pipeline/python/__pycache__
ue_pipeline/logs
ue_template/WorldData00/DerivedDataCache
ue_template/WorldData00/Intermediate
ue_template/WorldData00/Saved
ue_pipeline/python/pre_process/__pycache__
